CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.gradle
/build/

gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache

*.jar
